* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(114, 114, 204);
}

a {
  color: #fff;
  text-decoration: none;
}

#page {
  padding: 0em 10vw;
  margin-top: 2em;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  margin-left: 1em;
}

.logo {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.x {
  font-family: cursive;
  font-size: 1.5em;
}

.home {
  color: aquamarine;
}

#content {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  width: 100%;
}

.flex-left {
  width: 75%;
}

.flex-right {
  width: 14em;
  margin-top: 4em;
}

.ideas {
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
}

.world {
  font-size: 4.8em;
  font-family: cursive;
  color: aquamarine;
  padding-top: 0.7em;
}

#content .button {
  display: inline-block;
  font-size: 18px;
  padding: 0.8em 2.5em;
  background-color: aquamarine;
  border-radius: 15px;
  margin-top: 2em;
}

.wordx {
  transform: rotate(-90deg);
  /* margin-left: 80px; */
  background-color: aquamarine;
  font-size: 36px;
  display: inline-flex;
  align-items: center;
  padding: 1.5em 1em;
  border-radius: 35px;
  color: lightcoral;
  /* width: 2em; */
}

.X {
  font-size: 2em;
  font-family: cursive;
}

.btn {
  color: lightcoral;
}

.line-1 {
  background-color: #fff6;
  border-radius: 100px;
  padding: 1em;
  margin-bottom: 2em;
}

.line-2 {
  background-color: #fff6;
  border-radius: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1em;
}

.line {
  margin-top: 7em;
}

.arrow {
  margin-top: 5.3em;
  margin-left: 1em;
  background-color: aquamarine;
  display: inline-flex;
  align-items: center;
  padding: 4.6em 3.5em;
  border-radius: 35px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* ABOUT */

.great {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.people {
  font-size: 1.6em;
  font-family: cursive;
  color: aquamarine;
  text-align: center;
  line-height: 2em;
  padding-top: 1.5em;
}

.maria {
  color: plum;
  font-family: cursive;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.flex-middle .botton {
  margin: auto;
  width: fit-content;
  font-size: 18px;
  padding: 0.8em 2.5em;
  color: lightcoral;
  background-color: aquamarine;
  border-radius: 15px;
  cursor: pointer;
  /* transition: 0.3s ease-in-out; */
}

.line2 {
  padding-top: 4.2em;
  margin: 0em 23vw;
}

.flex-middle {
  width: 100%;
}

.wordx2 {
  background-color: aquamarine;
  font-size: 2em;
  color: lightcoral;
  display: flex;
  align-items: center;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.wordx3 {
  background-color: aquamarine;
  font-size: 2em;
  color: lightcoral;
  display: flex;
  align-items: center;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.worda1 {
  transform: rotate(90deg);
}

.worda2 {
  transform: rotate(-90deg);
}

#content2 {
  display: flex;
  padding-top: 6em;
  justify-content: space-between;
  /* width: 100vw; */
  /* height: 100vh; */
}
